<div id="demo" class="carousel slide" data-ride="carousel">

  <!-- Indicators -->
  <ul class="carousel-indicators">
    <li data-target="#demo" data-slide-to="0" class="active"></li>
    <li data-target="#demo" data-slide-to="1"></li>
    <li data-target="#demo" data-slide-to="2"></li>
  </ul>

  <!-- The slideshow -->
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img href="https://www.google.com/imgres?imgurl=https%3A%2F%2Fwowslider.com%2Fsliders%2Fdemo-80%2Fdata1%2Fimages%2Fnature497978_1920.jpg&imgrefurl=https%3A%2F%2Fwowslider.com%2Fes%2Fbootstrap-carousel-demo.html&docid=Y_zOdWEws1Z-7M&tbnid=mR8HQ9raU5YWEM%3A&vet=10ahUKEwixsZOhhOXlAhWtUt8KHXp_DaYQMwhFKAIwAg..i&w=960&h=360&bih=625&biw=1366&q=imagenes%20para%20carousel%20bootstrap&ved=0ahUKEwixsZOhhOXlAhWtUt8KHXp_DaYQMwhFKAIwAg&iact=mrc&uact=8" alt="Los Angeles">
    </div>
    <div class="carousel-item">
      <img src="/ClientApp/src/assets/nature497978_1920.jpg" alt="Chicago">
    </div>
    <div class="carousel-item">
      <img href="/ClientApp/src/assets/nature497978_1920.jpg" alt="New York">
    </div>
  </div>

  <!-- Left and right controls -->
  <a class="carousel-control-prev" href="#demo" data-slide="prev">
    <span class="carousel-control-prev-icon"></span>
  </a>
  <a class="carousel-control-next" href="#demo" data-slide="next">
    <span class="carousel-control-next-icon"></span>
  </a>

</div>