<div class="container-fluid">
  <nav class="navbar navbar-expand-sm bg-dark navbar-dark">
    <!-- Brand -->
    <a class="navbar-brand" routerLink="#">Phoenix</a>
  
    <!-- Links -->
    <ul class="navbar-nav">
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">
          Usuarios
        </a>
        <div class="dropdown-menu">
          <a class="dropdown-item" routerLink="agregarUsuario">Agregar</a>
          <a class="dropdown-item" href="listaUsuario">Consultar</a>
        </div>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">
          Libros
        </a>
        <div class="dropdown-menu">
          <a class="dropdown-item" routerLink="agregarLibro">Agregar</a>
          <a class="dropdown-item" href="#">Consultar</a>
        </div>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">
          Copias
        </a>
        <div class="dropdown-menu">
          <a class="dropdown-item" routerLink="agregarCopias">Agregar</a>
          <a class="dropdown-item" href="#">Consultar</a>
        </div>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">
          Editorial
        </a>
        <div class="dropdown-menu">
          <a class="dropdown-item" routerLink="agregarEditorial">Agregar</a>
          <a class="dropdown-item" routerLink="listaEditorial">Consultar</a>
        </div>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">
         Autor 
        </a>
        <div class="dropdown-menu">
          <a class="dropdown-item" routerLink="agregarAutor">Agregar</a>
          <a class="dropdown-item" routerLink="listaAutor">Consultar</a>
        </div>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">
         Prestamo 
        </a>
        <div class="dropdown-menu">
          <a class="dropdown-item" routerLink="agregarPrestamo">Agregar</a>
          <a class="dropdown-item" href="listaPrestamo">Consultar</a>
        </div>
      </li>
    </ul>
  </nav>  
</div>
